.App{
  box-sizing: border-box;
}

.column {
  float: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  border-spacing: 20px;
  border-collapse: separate;
}

.titulo{
  text-align: center;
}

#pagamento-pix{
  display:none;
}

#pagamento-cheque{
  display:none;
}

#pagamento-trans-dep-1{
  display: none;
}

#pagamento-trans-dep-2{
  display: none;
}

#reciboImprimir{
  display:none;
}

#reciboImprimir2{
  display:none;
}