.App{
  box-sizing: border-box;
}

.column {
  float: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  border-spacing: 20px;
  border-collapse: separate;
}
